div.container {
    background-color: lightsalmon;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
}

div.item {
    background-color: lightblue;
    border: 1px solid black;

    width: 50px;

    text-align: center;
}
