* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100vw;
    height: 100vh;

    background-color: lightslategray;

    display: flex;
    align-items: center;
    justify-content: center;
}

section#login {
    display: flex;
    flex-flow: column nowrap;

    border-radius: 20px;
    width: 250px;
    height: 500px;
    background-color: white;
    overflow: hidden;
}

section#img {
    display: block;
    background-image: url(../imgs/img.png);
    height: 40%;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

section#form {
    display: block;
    padding: 10px;
}

section#form h1 {
    text-align: center;
    padding-bottom: 8px;
}

section#form p {
    font-size: small;
    padding-bottom: 8px;
}

form fieldset {
    border: none;
}

fieldset input {
    width: 92%;
    padding: 5px;
    margin-bottom: 5px;
}

form input.submit {
    border-radius: 5px;
    padding: 5px;
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.passwordButton {
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 5px;
    text-decoration: none;
    text-align: center;

    border: 1px  solid black;
}
