html, body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    margin: 0px;
    padding: 0px;

    background-image: url(pacote-d013/imagens/fundo-madeira.jpg);
    background-size: cover;

    height: 100vh;
}

main {
    position: relative;
    height: 100vh;
}


aside {
    position: absolute;

    width: 10%;
    height: 100vh;

    max-width: 80px;

    top: 0;
    right: 0;

    padding: 10px;
}

aside img {
    width: 80%;
    border-radius: 50%;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);

    box-sizing: border-box;
}

aside img:hover {
    border: 2px solid rgba(255, 255, 255, 0.623);
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s;
}

aside a {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

section#iphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 311px;  
    height: 627px; 

    background: url(pacote-d013/imagens/frame-iphone.png) no-repeat center center;
}

iframe#frame {
    position: relative;

    top: 80px;
    left: 23px;

    width: 265px;
    height: 469px;
}
