main {
  display: flex;
  height: 350px;
  max-width: 950px;
}

section.form,
section.img {
  width: 50%;
  height: 100%;
  order: 1; /* Garante que o form fique à esquerda */
}

div.input input {
  max-width: 450px;
}

section.form h1 {
  font-size: 2em;
  padding-bottom: 20px;
}

section.form p {
  font-size: 1em;
  padding-bottom: 15px;
}

section.img {
  order: 2;
  border-radius: 0px 20px 20px 0px;
}
