main {
    max-width: 250px;
    min-width: 250px;
    height: 520px;
}

section.form {
    width: 100%;
    height: 60%;
}


section.form p {
    padding-bottom: 8px;
}

div.input input {
    max-width: 180px;
}

section.img {
    width: 100%;
    height: 40%;

    border-radius: 20px 20px 0px 0px;
}
