* {
    padding: 0px;
    margin: 0px;

    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease; 
}

body {
    background: linear-gradient(to right, #4caf50, #9c27b0);

    height: 100vh;
    width: 100vw;
}

main {
    position: fixed;
    width: 80%;

    background-color: white;
    margin: auto;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 20px;
}

section.form, section.img {
    display: inline-block;
}

section.form h1 {
    text-align: center;
    padding: 20px 10px 10px 10px;
}

section.form p {
    margin: 0px 5%;
    font-size: 12px;
    font-weight: lighter;
}

section.form fieldset {
    border: none;
}

section.form input.inputs {
    display: block;
}

section.form input.buttons {
    display: block;
}

.button {
    display: block;
    margin: auto;
    border-radius: 5px;
    padding: 2px;
    width: 90%;
    height: 35px;
    margin-bottom: 5px;
}

/* Estilos gerais para o formulário */
div.input {
    position: relative;
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    align-items: center;
}

div.input label {
    margin-right: 10px;
    color: #9c27b0;
}

div.input input {
    flex: 1;
    height: 35px;
    width: calc(100% - 40px); /* Ajustar largura considerando o espaço do ícone */
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid #ccc;
}

.material-symbols-outlined {
    font-size: 24px; /* Ajustar o tamanho do ícone conforme necessário */
}

.signInButton {
    color: white;
    background-color: #53AAA7;
    border: none;
    text-align: center;
}

.forgetPasswButton {
    color: #53AAA7;
    background-color: white;
    border: 1px solid #53AAA7;
    text-align: center;
}

section.img {
    background-image: url(../imgs/img.png);

    background-position: center center;
    background-size: cover;
}
