table {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-collapse: collapse;
    text-transform: capitalize;
    width: 300px;
}

td {
    border: 1px solid black;
    padding: 10px;
}
