body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    width: 500px;
}

caption {
    font-weight: bolder;
}

th, td {
    border: 1px solid black;
    padding: 5px 10px;
}

thead > tr {
    background-color: gray;
    color: rgb(231, 231, 231);
}

col.cnome {
    background-color: red;
}

col.cgrupo {
    background-color: yellow;
}

col.cprofissao {
    background-color: green;
}
