/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #00bbc9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Cabeçalho */
header {
  text-align: center;
  padding: 1.4rem;
  background-color: #00747c;
  color: #ffffff;
}

header h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
}

.small-h1 {
  display: none;
}

header h1 a {
  color: inherit; /* Mantém a cor do h1 */
  text-decoration: none; /* Remove o sublinhado do link */
  display: inline-block; /* Garante que o link envolva todo o conteúdo do h1 */
  width: 100%;
  height: 100%;
}

header h1 a:hover {
  color: rgb(229, 229, 229);
}

.header-secondary {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/* Conteúdo principal */
main {
  flex-grow: 1;
  background-color: white;
  padding: 3rem;
  font-size: 1.2rem;
}

main h2 {
  padding-bottom: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;

  display: inline-block;
}

.github-link {
  font-size: 1.1rem;
  font-weight: 600;
  color: #004a4f;

  margin-bottom: 1.2rem;
}

.github-link:hover {
  background-color: #00747c;
  color: #ffffff;
}

main p {
  padding-bottom: 1.2rem;
  max-width: 700px;
  text-align: justify;
  font-weight: 400;
  font-size: 1rem;
}

ul {
  padding-left: 2.5rem;
}

ul a,
ul a:visited {
  color: #00747c;
  text-decoration: none;
}

ul a:hover {
  color: #004a4f;
}

/* Módulo */
section {
  display: flex;
  flex-flow: row wrap;
  gap: 0.8rem;
}

.module {
  padding: 1.5rem;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  min-height: 15rem;
}

.module h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: #333;
}

.module ul {
  list-style: none;
  padding-left: 0.5rem; /* Ajusta o padding à esquerda */
}

.module ul li {
  margin-bottom: 0.7rem;
  font-size: 1.1rem;
}

/* Rodapé */
footer {
  padding: 0.7rem;
  background-color: #202022;
  color: #cacaca;
  text-align: center;
}

@media screen and (max-width: 824px) {
  .big-h1 {
    display: none;
  }

  .small-h1 {
    display: block;
  }

  .header-secondary {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}

/* Centralizar e ajustar tamanho do módulo a partir de 638px */
@media screen and (max-width: 638px) {
  main {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/* Ajustes para telas menores */
@media screen and (max-width: 591px) {
  section {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 496px) {
  header h1 {
    font-size: 1rem;
  }

  .header-secondary a {
    font-size: 1rem;
  }

  main h2 {
    font-size: 1rem;
  }

  main p {
    font-size: 1rem;
  }

  a {
    font-size: 1rem;
  }
}
